    @import 'variables.scss';

    * {
        box-sizing: border-box;
    }

    body {
        background-color: $background-color;
    }

    .all_content {
        display: flex;
        flex-direction: column;
    }

    .header {
        display: flex;
        height: 67px;
        width: 100%;
        border-bottom: $border;

        @include large-breakpoint {
            height: 128px;
            border-bottom: $border;
        }
    }

    .cartx {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: none;
        width: $width;

        @include large-breakpoint {
            width: 300px;
            border-right: $border;
        }
    }

    .cartx_pic {
        width: 127px;
        height: 44px;
    }

    .menu {
        display: none;

        @include large-breakpoint {
            width: 814px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

    .home {
        position: absolute;
        margin-right: 34%;
        font-family: 'Nunito Sans';
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
    }

    .about {
        position: absolute;
        margin-right: 14%;
        font-family: 'Nunito Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
    }

    .sup {
        position: absolute;
        margin-left: 14%;
        font-family: 'Nunito Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
    }

    .products {
        position: absolute;
        margin-left: 34%;
        font-family: 'Nunito Sans';
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
    }

    .likes {
        display: none;

        @include large-breakpoint {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            border-left: $border;
        }
    }

    .main_content {
        margin-left: 54px;
        margin-bottom: 73px;
        height: 867px;
        width: 85%;
        border: $border;
        border-top: none;

        @include large-breakpoint {
            margin-left: 134px;
            margin-bottom: 73px;
            height: 867px;
            width: 85%;
        }
    }

    .me {
        width: 100%;
        height: 65.7%;
    }

    .part {
        margin-top: 58px;
        margin-left: 53px;
        height: 614px;
        width: $width;
    }

    .next {
        height: 92px;
        width: 257px;
        text-align: left;
        font-family: 'Nunito Sans';
        font-size: 34px;
        font-weight: 600;

        @include large-breakpoint {
            width: 477px;
            height: 157px;
            font-family: 'Nunito Sans';
            font-size: 62px;
            line-height: 95px;
            letter-spacing: 0.016em;
            text-align: left;
        }
    }

    .everyone {
        height: 66px;
        width: 521px;
        margin-top: 6%;
        border-radius: nullpx;
        font-family: 'Nunito Sans';
        font-size: 22px;
        font-weight: 300;
        line-height: 33px;
        letter-spacing: 0.05em;
        text-align: left;
    }

    .price {
        height: 36px;
        width: 112px;
        margin-top: 6%;
        border-radius: nullpx;
        font-family: 'Nunito Sans';
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0.05em;
        text-align: left;
    }

    .two_buttons {
        margin-top: 3%;
    }

    .button {
        position: absolute;
        margin-top: 47px;
        background: #FE682F;
        height: 64px;
        width: 178px;
        left: 172px;
        top: 597px;
        z-index: 2;
    }

    .backg {
        position: absolute;
        background-color: white;
        height: 64px;
        width: 178px;
        z-index: 1;
    }

    .picture_watch {
        border: $border;
        height: 614px;
        width: 410px;
        position: absolute;
        margin-left: 56.9%;
        margin-top: -44.4%;
        background-color: #FE682F;
    }

    .img {
        border-radius: 220px;
    }

    .star {
        position: absolute;
        margin-top: -28%;
        margin-left: 42%;
        width: 87px;
        height: 80px;

        @include large-breakpoint {
            width: 116px;
            height: 115px;
            margin-top: -12%;
            margin-left: 23%;
        }
    }

    .arrow1 {
        position: absolute;
        height: 98px;
        width: 67px;
        margin-left: 42%;
    }

    .arrow2 {
        height: 68px;
        width: 145px;
        position: absolute;
        transform: rotate(18.76deg);
        margin-left: 20%;
    }

    .footer {
        display: flex;
        width: $width;
        height: 249px;
        margin-top: -0.96%;
        border-top: $border;
    }

    .dwnwatch {
        height: 250px;
        width: 231px;
        margin-top: -1px;
        border-radius: 0px;
    }

    .ever {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 49.3%;
        border-left: $border;
        border-right: $border;
        font-family: 'Nunito Sans';
        font-size: 22px;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 0.016em;
        text-align: left;
    }

    .loki {
        height: 121px;
        width: 461px;
        left: 404px;
        top: 814px;
        font-family: 'Nunito Sans';
        font-size: 22px;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 0.016em;
        text-align: left;

    }

    .circle {
        margin-right: -6%;
        width: 50px;
        height: 50px;
        margin-top: -23%;
        background-color: #FE682F;
        border-radius: 50%;
        border: $border;
    }

    .fake_cir {
        width: 50px;
        height: 50px;
        margin-right: -6%;
        margin-top: -16%;
        background-color: white;
        border-radius: 50%;
        opacity: 0.5;
        border: $border;
    }

    .trending {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32.1%;
        background-color: yellow;
    }

    .trensp {
        font-family: 'Nunito Sans';
        font-size: 28px;
        font-weight: 600;
        line-height: 41px;
        letter-spacing: 0.016em;
    }